.compact {
    margin-left: 0px !important;
}

.user-icon img {
    margin-top: 7px;
}

.red {
    color: #F00;
}

.search-field {
    width: 300px;
}

.top-nav-icon i {
    font-size: 18px;
    color: #fff !important;
}