.compact {
    margin-left: 0px !important;
}

.user-icon img {
    margin-top: 7px;
}

.red {
    color: #F00;
}

.search-field {
    width: 300px;
}

.top-nav-icon i {
    font-size: 18px;
    color: #fff !important;
}

.opacity-zero {
    opacity: 0;
}

.light-header {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 22px;
}

.shadow-right-container {
    border-right: 1px solid #ddd;
}

.navbar {
    margin-bottom: 0px !important;
}